.clr{
  clear:both;
  width:0px;
  height:0px;
}
#container{
  height:165px;
  width:1000px;
  border:1px solid black;
}

#top{
  background:#EEE;
  height:18px;
  font-size:13px;
  font-family:serif;

}
#top_left p{
  float:left;
}


#top_left li{
  float:left;

}

#top_right li{
  float:right;

}
#middle {
  margin:15px 0;
}
#picture{
  display:block;
  float:left;

}
#search{
  margin:10px;
  width:450px;
  height:20px;
  border:2px solid red;
  float:left;
}
#search a{
  display:block;
  width:40px;
  height:20px;
  background:orange;
  color:black;
  float:right;

}
#shoppingcart a{
  margin:10px;
  display:block;
  background:gray;
  color:black;
  float:right;
}
#nav{
  width:990px;
  height:40px;
  margin:30px 20px;
}
#nav a {
  display:block;
  width:120px;
  height:40px;
  background:red;
  color:white;
  float:left;
  text-align:center;
  line-height: 40px;
}

#nav a:hover {
  background:orange;

}
